@model GreenPro.Data.UnAssignedCar

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>UnAssignedCar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Garage.Garage_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Garage.Garage_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserPackage.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserPackage.UserId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
