@model PagedList.IPagedList<GreenPro.Data.Garage>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


<br /><br />
<style>
    p {
        font-size: 14px;
    }
</style>
@if (Model != null)
{

    foreach (var item in Model)
    {
        <h4 class="garage-title">@item.Garage_Name</h4>
        <p>@item.Garage_Address</p>
        <p><b>Open Time: </b>@item.OpenTime to @item.CloseTime</p>
        <p><b>Service Days: </b>@item.ServiceDays</p>
        <p style="text-align:left">  <a href=@string.Format("/Carusers/ChangeGarage?search_carid={0}&garageId={1}", @ViewBag.Carid, item.GarageId)><button class='btn btn-sm btn-info'>Select Garage</button></a></p>

        <hr />
    }

    @Html.PagedListPager(Model, page => Url.Action("GetGarages", new { page, searchText = ViewBag.SearchText, }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "garageList" }))
    <br />



}
else
{

}

