@model GreenPro.WebClient.ViewModel.UserPackageAddOnInvoice

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GenerateInvoice</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <style>
        body {
            font-size: 14px;
        }
    </style>
</head>
<body>
    <div>
        <div class="container">
            <div class="row ">
                <div class="col-md-12" style="background-color:black;color:white">
                    <h1>Invoice</h1>
                </div>

            </div>@if (!@Model.UserPackge.PaymentRecieved == true)
            {
                <div class="row">
                    <div class="col-md-12 text-center">
                        <br />
                        <h3>Payment for this transaction was not recieved</h3>
                    </div>
                </div>

            }
            else
            {
                <div class="row">
                    <div class="col-md-6">
                        <h3>Billing Details</h3>
                        <p>Invoice Number:@Model.UserPackge.Id </p>
                        <hr />
                        <p>@Model.UserDetails.FirstName @Model.UserDetails.LastName</p>
                        <p>Address: @Model.UserDetails.Address</p>
                        <p>Email: @Model.UserDetails.Email</p>

                        <br /><br />
                    </div>
                    <div class="col-md-6" style="text-align:right">
                        <h3>Green Pro</h3>
                        <address>50 Fifth Avenue, 34th floor New York, NY 10118-3299 USA</address>
                        <hr />

                        <section>
                            <h4>Car Details</h4>
                            <p>Car Display Name: <b>@Model.UserPackge.CarUser.DisplayName</b></p>
                            @if (Model.UserPackge.CarUser.AutoRenewal)
                            {
                                <p>We will automatically bill you next week using your last payment method.</p>
                            }
                            else
                            {
                                <p>This was one time payment.</p>
                            }
                        </section>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-responsive table-bordered table-striped">
                            <tr>
                                <td>Service</td>
                                <td>Duration</td>
                                <td>Price</td>

                            </tr>
                            <tr>
                                <td>
                                    <p>@Model.UserPackge.Package.Package_Name</p>
                                    <p>@Model.UserPackge.Package.Package_Description</p>
                                </td>
                                <td>Weekly</td>
                                <td>$ @Model.UserPackge.Package.Package_Price.ToString("00.00")</td>
                            </tr>
                            @if (Model.Addons.Count() != 0)
                            {
                                foreach (var item in Model.Addons)
                                {
                                    <tr>
                                        <td colspan="2" style="text-align:right">@item.Service.Service_Name</td>
                                        <td>$ @item.Service.Service_Price.ToString("00.00")</td>
                                    </tr>
                                }
                            }

                            <tr>
                                <td colspan="2" style="text-align:right">Tax</td>
                                <td>$00.00</td>
                            </tr>
                            <tr>
                                <td colspan="2" style="text-align:right"><b>Total</b></td>
                                <td><b>$ @Model.UserPackge.TotalPrice.ToString("00.00")</b></td>
                            </tr>
                        </table>
                        <span class="text-center"><h4>Thank you for your Business</h4><br /><br /></span>
                    </div>
                </div>
            }
            <div class="row navbar modal-footer "><p class="text-center">Green Pro - Computer generate invoice on : @DateTime.Now</p></div>
        </div>
    </div>
</body>
</html>
