@model GreenPro.WebClient.ViewModel.CarGarageUserViewModel
@using GridMvc.Html
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
}

<style>
    .fa:before {
        line-height: 10px;
    }

    .garage-title {
        color: green;
        font-weight: 600;
    }

 
</style>

@section left
{
    @Html.Action("CustomerNavigation", "Account", new { selectedTabId = GreenPro.WebClient.Models.CustomerNavigationEnum.Cars })
}

<div class="row">
    <div class="col-md-12 panel panel-default">
        
		<h3 class="panel-heading">Your Cars | <span style="font-size:18px"><a data-modal="" href="/CarUsers/Create/"><i class="fa fa-plus"></i> Add car</a></span></h3>
        
        <div class="page-body account-page">
            @if (Model.CarUser.Count() > 0)
            {

                <div class="address-list">
                    @foreach (var carUser in Model.CarUser)
                    {

                        <div class="section address-item">

                            <ul class="info" style="list-style:outside none none">
                                <li class="">
                                    <label for="">Car Display Name:</label>
                                    @carUser.DisplayName

                                </li>


                                <li class="">
                                    <label for="">Make:</label>
                                    @carUser.Make
                                </li>

                                <li class="">
                                    <label for="">GarageName:</label>
                                    @carUser.GarageName
                                </li>

                                <li class="">
                                    <label for="">Service Day:</label>
                                    @ServiceDay(carUser) 
                                </li>
                                <li class="">
                                    <label for="">Package:</label>
                                    @Subscription(carUser)
                                </li>
                                <li class="">
                                    <label for="">Subscription:</label>
                                    @SubscriptionLink(carUser)
                                </li>
                            </ul>
                            <div class="buttons">
                                <a data-modal=''  class="line-btn light" href="/CarUsers/Details/@(carUser.CarId)" id="@(carUser.CarId)" title='Detail'> <span class=''> Detail </span> </a>
                                <a data-modal='' class="line-btn light"  href="/CarUsers/Edit/@(carUser.CarId)" id="@(carUser.CarId) " title='Edit'> <span class=''> Edit </span> </a>

                                @CarSubscriptionRenewal(carUser)
                                @*<input type="button" class="line-btn light" onclick="location.href=''" value='Edit' />
                                <input type="button" class="line-btn light" onclick="if (confirm('Are you sure?')) {location.href='';}" value="Delete" />*@
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="no-data">
                    No cars
                </div>
            }
        </div>

        
    </div>

    <div class="col-md-12 form-horizontal hidden" id="garagesearchlist">
        @using (Ajax.BeginForm("GetGarages", "CarUsers",
            new AjaxOptions
            {
                HttpMethod = "get",
                InsertionMode = InsertionMode.Replace,
                LoadingElementId = "loading",
                LoadingElementDuration = 10,
                UpdateTargetId = "garageList",
                OnSuccess = "OnSuccess",
                OnFailure = "OnFailure"
            }))
        {

            <div class="col-md-12">
                <div class="form-group pull-right">
                    <label style="font-size:16px" class="control-label col-md-4">Garage Locator</label>
                    <div class="col-md-6">
                        <input type="hidden" id="search_carid" name="search_carid" />
                        <input type="text" id="searchText" name="searchText" required placeholder="Name, City, State or Zip" class="form-control" />
                    </div>
                    <div class="col-md-2">
                        <button class="line-btn light" id="submit" type="submit"><i class="fa fa-search"></i> </button>
                    </div>
                    <br /><br />
                </div>
            </div>
        }


    </div>
    <div class="co-md-12">

        @*Load Garages from ajax*@
        <p id="loading" style="display:none;text-align:center">
            <img src="~/Content/images/loading.gif" />
        </p>
        <div id="garageList">
            <br />

        </div>

    </div>

</div>

@section scripts{

    <script src="~/Scripts/smoothScroll.js"></script>
    <script>

        function OnSearchGarage(id) {
            $("#garagesearchlist").removeClass("hidden");
            $("#search_carid").val(id);
            //scrollTo();

        };
        //function scrollTo() {
        //    $.smoothScroll({
        //        offset: 1000,
        //        speed: 800,
        //        scrollTarget: '#garagesearchlist'
        //    });
        //    location.hash = "#garagesearchlist";
        //}

        function OnSuccess() {


            $.ajaxSetup({ cache: false });
            $("a[data-modal]").on("click", function (e) {
                $('#myModalContent').load(this.href, function () {
                    $('#myModal').modal({
                        keyboard: true
                    }, 'show');

                    bindForm(this);

                });
                return false;
            });

            function bindForm(dialog) {
                $('form', dialog).submit(function () {
                    $('#progress').show();
                    $.ajax({
                        url: this.action,
                        type: this.method,
                        data: $(this).serialize(),
                        success: function (result) {
                            if (result.success) {
                                $('#myModal').modal('hide');
                                $('#progress').hide();
                                location.reload();
                            } else {
                                $('#progress').hide();
                                $('#myModalContent').html(result);

                                bindForm();
                            }
                        }
                    });
                    return false;
                });
            }
        }
</script>

<script>
    $(document).ready(function () {
        $("#CityId").prop("readonly", true);
        $("#StateId").change(function () {
            $("#CityId").empty();
            var sid = $("#StateId").val();
            if (sid == "-1")
                $("#CityId").prop("readonly", true);
            else
                $("#CityId").prop("readonly", false);
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Citylist")',
                dataType: 'json',
                data: { id: sid },
                success: function (selectListItemList) {
                    $.each(selectListItemList, function (i, state) {
                        $("#CityId").append('<option value="'
                         + state.Value + '">'
                         + state.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
            return false;
        })
    });
</script>

}










@helper CarSubscriptionRenewal(GreenPro.WebClient.Models.CarUserModel user)
{
    if (String.IsNullOrEmpty(user.SubscriptionName))
    {
        <text>NA</text>
    }
    else if (user.AutoRenewal)
    {
        <text>@Html.Raw("<a data-modal='' href='/CarUsers/Renewal?id=" + user.CarId + "&cancel=" + true + "' id='" + user.CarId + "' class='line-btn light' title='Detail'> Cancel </a>")</text>
    }
    else
    {
        <text>@Html.Raw("<a data-modal='' href='/CarUsers/Renewal?id=" + user.CarId + "&cancel=" + false + "' id='" + user.CarId + "' class='line-btn light' title='Detail'> Auto</a>")</text>
    }
}

@helper GarageSelection(GreenPro.WebClient.Models.CarUserModel user)
{
    if (String.IsNullOrEmpty(user.SubscriptionName))
    {
        <text>NA</text>
    }
    else if (user.GarageId > 0)
    {
        <text><a href="#" onclick="OnSearchGarage(@user.CarId)">Change </a> </text>
    }
    else
    {
        <text><a href="#" onclick="OnSearchGarage(@user.CarId)">Select </a> </text>
    }
}

@helper Subscription(GreenPro.WebClient.Models.CarUserModel user)
{    
    if (user.SubscriptionBought)
    {
        <text> @user.SubscriptionName  </text>
    }    
}

@helper SubscriptionLink(GreenPro.WebClient.Models.CarUserModel user)
{

    GreenPro.Data.GreenProDbEntities db = new GreenPro.Data.GreenProDbEntities();
    var userid = User.Identity.GetUserId();    
    var userpackages = db.UserPackages.Where(a => a.UserId == userid && a.PaymentRecieved == true && a.IsActive == true);
    if (userpackages.Count() == 0)
    {
        <text>@Html.ActionLink("Buy New Subscription", "Index", "Garages")</text>
    }
    else
    {
        <text>@Html.Raw("<a data-modal='' href='/CarUsers/Subscription?id=" + user.CarId + "' id='" + user.CarId + "' title='Detail'> Buy New Subscription </a>")</text>
    }
}


@helper ServiceDay(GreenPro.WebClient.Models.CarUserModel user)
{

GreenPro.Data.GreenProDbEntities db = new GreenPro.Data.GreenProDbEntities();
var userid = User.Identity.GetUserId();
var userCars = db.CarUsers.Where(a => a.UserId == userid);
var userpackages = db.UserPackages.Where(a => a.UserId == userid && a.PaymentRecieved == true);
if (user.SubscriptionBought)
{
        <text> @user.ServiceDay
        </text>
}
else if (userCars.Count() == 1)
{
    //If there is one car do not show popup
    <text>@Html.ActionLink("N/A", "Index", "Garages")</text>

}
else if (userpackages.Count() == 0)
{
        <text>@Html.ActionLink("Buy New Subscription", "Index", "Garages")</text>
}
else
{
        <text>@Html.Raw("<a data-modal='' href='/CarUsers/Subscription?id=" + user.CarId + "' id='" + user.CarId + "' title='Detail'> Buy New Subscription </a>")</text>

}
}
@helper AdhocToSubscription(GreenPro.WebClient.ViewModel.AdhocCarViewModel user)
{
    <text>@Html.Raw("<a data-modal='' href='/CarUsers/Subscription?id=" + user.CarId + "' id='" + user.CarId + "' title='Detail'> Buy New Subscription </a>")</text>
}

