@model IEnumerable<GreenPro.Data.UserTransaction>
@using Microsoft.AspNet.Identity
@using GridMvc.Html
@using GreenPro.WebClient.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
}
@section left
{
    @Html.Action("CustomerNavigation", "Account", new { selectedTabId = CustomerNavigationEnum.YourTransactions })
}

<div class="row">

    <div class="col-md-12 panel panel-default">
        <h3 class="panel-heading">Your Transactions</h3>

        <div class="page-body account-page">
            @if (Model.Count() > 0)
            {

                <div class="address-list">
                    @foreach (var userTransaction in Model)
                    {

                        <div class="section address-item">

                            <ul class="info" style="list-style:outside none none">
                                <li class="">
                                    <label for="">Package Name:</label>
                                    @userTransaction.UserPackage.Package.Package_Name

                                </li>


                                <li class="">
                                    <label for="">Service Day:</label>
                                    @userTransaction.UserPackage.ServiceDay
                                </li>

                                <li class="">
                                    <label for="">Total Amount:</label>
                                    @String.Format("{0:$00.00}", userTransaction.Amount)
                                </li>

                                <li class="">
                                    <label for="">Paypal Reference:</label>
                                    @userTransaction.PaypalId
                                </li>
                                <li class="">
                                    <label for="">Transaction Date:</label>
                                    @userTransaction.TransactionDate
                                </li>

                                <li class="">
                                    <label for="">BillingAggrement ID:</label>
                                    @userTransaction.BillingAggrementID
                                </li>

                                <li class="">
                                    <label for="">Trasaction ID:</label>
                                    @userTransaction.TrasactionID
                                </li>

                            </ul>
                            <div class="buttons">
                                @{
                        var ViewUrl = System.Configuration.ConfigurationManager.AppSettings["domain"] + "Carusers/GenerateInvoice/";
                                    
                                }

                                @Html.Raw("<a  href=" + ViewUrl + "" + userTransaction.UserPackage.Id + "?userid=" + User.Identity.GetUserId() + " class='line-btn light'> View </a>")
                                   
   
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="no-data">
                   
                </div>
            }
        </div>


       

    </div>
</div>
