@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
      //  @Html.AntiForgeryToken()



        <div class="btn-group pull-right">
            <button type="button" class="btn"> @Html.Action("GetUserName", "Common", new { userid = User.Identity.GetUserId() })</button>
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="caret"></span>
                @*<span class="sr-only">Toggle Dropdown</span>*@
            </button>
            <ul class="dropdown-menu" role="menu">

                @*<li>@Html.ActionLink("Change Password", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })</li>*@

                <li>@Html.ActionLink("Your Cars", "Index", "CarUsers", null, null)</li>
                <li>@Html.ActionLink("Your Transactions", "Index", "UserTransactions")</li>
                <li>@Html.ActionLink("Your Subscriptions", "index", "UserPackages")</li>
                <li class="divider"></li>
                <li>@Html.ActionLink("Your Profile", "Profile", "Account", routeValues: null, htmlAttributes: new { title = "Profile" })</li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>
        </div>

    }
}
else
{

    @*<ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>*@
}
