<ul class="nav navbar-nav" data-0="margin-top:20px;" data-300="margin-top:5px;">
    
    @*<li id="garagesMenu">@Html.ActionLink("Garages", "Index", "Garages")</li>*@    
    @*<li id="contactMenu">@Html.ActionLink("Contact Us", "Contact", "Home")</li>*@

    <li class="active"><a href="~/">Home</a></li>
    <li><a href="#section-about">About</a></li>
    <li><a href="#services">Service</a></li>
    <li><a href="#team">Team</a></li>
    <li><a href="#line-pricing">Pricing</a></li>
    <li><a href="#section-works">Portfolio</a></li>
    @*<li><a href="#section-contact">Garages</a></li>*@
    <li id="garagesMenu">@Html.ActionLink("Garages", "Index", "Garages")</li>  
    <li><a href="@Url.Action("Contact", "Home")">Contact Us</a></li>
</ul>

<div class="top-right-section">
    @if (!Request.IsAuthenticated)
    {
        <a href='/Account/Login/'><button class="btn btn-success" value="Login">Login</button></a>
        <a href='/Account/Register/'><button class="btn btn-success" value="Login">Register</button></a>
        
    }
    else
    {
        @Html.Partial("_LoginPartial")
    }
</div>